a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.titulo {
    font-weight: 1000;
}

.display-info {
  margin: 20px 35%;
  margin-top: 5%;
  padding: 10px;
  background-color: #ffd584;
  text-align: center;
  color: #f57c00;
  font-weight: bold;
}

.formulario-input {
  margin-top: 30px;
}

.botao-submeter {
  margin-bottom: 10px;
  background-color: #f57c00;
  border-color: #f57c00;
  color: #ffd584;
  font-weight: 650;
}

.area-input {
    border: 0px;
}

label {
    display: block;
}

body {
  background-color: #fffbd7;
  letter-spacing: 1.5px;
}


