<div class="formulario">
  <h4 class="titulo-form">Crie sua conta:</h4>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="formulario-input">
      <label for="nome">Nome:</label>
      <input class="area-input" type="text" name="nome" id="nome" formControlName="nome" required>
    </div>

    <div class="formulario-input">
      <label for="sobrenome">Sobrenome:</label>
      <input class="area-input" type="text" name="sobrenome" id="sobrenome" formControlName="sobrenome" required>
    </div>

    <div class="formulario-input">
      <label for="email">Email:</label>
      <input class="area-input" type="email" name="email" id="email" formControlName="email" required>
    </div>

    <div class="formulario-input">
      <label for="nascimento">Data de Nascimento:</label>
      <input class="calendario area-input" type="date" name="nascimento" id="nascimento" formControlName="dataDeNascimento" required>
    </div>

    <div class="formulario-input">
      <label for="senha">Senha:</label>
      <input class="area-input" type="password" name="senha" id="senha" formControlName="senha" required>
    </div>

    <div class="formulario-input">
      <input class="botao-submeter" type="submit" value="Criar conta">
    </div>
  </form>
</div>
